@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: cornflowerblue;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: #8433db;
  text-decoration: none;
  margin: 0 0 0 10px;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 18px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: mediumslateblue;
  color: beige;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
.restaurant-title {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
  text-align: center;
}

.restaurant-title h1 {
  margin: auto;
}

.restaurant-title h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 180;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 6px 40px 10px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb a+a:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

section #map-container {
  height: 300px;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 50px;
  background-color: yellowgreen;
  padding: 5px 0;
}

.filter-selects {
  width: 100%;
  text-align: center;
}

.filter-options h2 {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin: 5px 0px 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 5px auto;
  padding: 0 10px;
  width: 90%;

}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: darkslateblue;
  list-style: outside none none;
  margin: 0;
  height: 100%;
  padding: 5px 5px 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li {
  background-color: chartreuse;
  border: 1px solid crimson;
  font-family: Arial, sans-serif;
  margin: 10px 5px;
  min-height: 350px;
  padding: 0px;
  text-align: left;
  width: 270px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding: 0 10px;
}

#restaurants-list li a {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding: 0 10px;
}


#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  padding: 0 10px;
}

#restaurants-list li button {
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: rgb(63, 41, 0);
  color: #fff;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  margin-top: auto;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


#restaurant-container {
  flex-basis: 100%;
}


.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 60vh;
  top: 80px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 30px 50px;
}

#restaurant-container h2 {
  font-size: 2.5rem;
}

#restaurant-container {
  display: flex;
  flex-direction: column;
}

#reviews-container {
  padding: 30px 20px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.review-header {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  height: 100%;
}

#reviews-list li,
.review-header {
  border-top-left-radius: 25px;
}

#reviews-list li {
  border-bottom-right-radius: 25px;
}

.review-header h3 {
  color: #fff;
  font-size: 1.25rem;
  padding: 15px 0 0 10px;
}

.review-header p {
  color: #dbdbdb;
  padding: 20px 10px 0 0;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

.leaflet-bottom,
.leaflet-top.leaflet-left {
  z-index: 900 !important;
}

.leaflet-top.leaflet-left {
  top: 90px;
}

@media screen and (max-width: 382px) {
  .restaurant-title {
    height: 80px;
  }
}

@media screen and (min-width: 600px) {
  .restaurant-title {
    height: 40px;
  }

  .filter-options select {
    width: 40%;
    max-width: 200px;
  }

  .filter-selects {
    text-align: left;
  }

  #restaurants-list {
    justify-content: space-around;
  }

  #restaurants-list li {
    flex-basis: 35%;
  }

  #restaurant-container,
  #reviews-container {
    padding: 30px 50px 80px;
  }

  #reviews-container li {
    width: 85%;
  }
}

/* iPad Pro */
@media screen and (min-width: 768px) {
  .filter-options select {
    flex-basis: 30%;
    margin: 0px 5px;
  }

  #restaurants-list {
    justify-content: space-around;
  }

  #restaurants-list li {
    flex-basis: 30%;
  }

  #restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #restaurant-name {
    flex-basis: 100%;
  }

  #restaurant-container h2 {
    font-size: 4rem;
  }

  .restaurant-image-card,
  .restaurant-info {
    box-sizing: border-box;
    flex-basis: 45%;
  }
}

/* iPad Pro */
@media screen and (min-width: 1024px) {
  #maincontent {
    width: 1024px;
    margin: 0 auto;
  }
}